#socials {
    width: 100%;
    max-width: 950px;
    padding: 30px 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    text-align: center;
    color: var(--dark);
    background-color: var(--lighter);
}

#social-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;

    > a > img {
        width: 50px;
        height: 50px;
    }
}
