#about {
    width: 100%;
    max-width: 950px;
    padding: 30px 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

    text-align: center;
    color: var(--dark);
    background-color: var(--lighter);

    > p {
        line-height: 1.5em;
        max-width: 800px;
    }
}

.about-par {
    width: 100%;
    max-width: 800px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;

    > p {
        line-height: 1.5em;
    }
}
