#recipe-heading {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#recipe-content {
    width: 100%;
    padding: 0 15px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    
    > img {
        max-width: 100%;
    }
}

#placeholder-img-container {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    position: relative;

    > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: var(--lighter);
    }
}

#ingredients, #instructions {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#ingredients > ul {
    align-self: flex-start;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#instructions > ol {
    align-self: flex-start;
    padding-left: 25px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

#recipe-management {
    width: 100%;
    padding: 20px 15px;
    
    margin-top: 30px;

    display: flex;
    flex-direction: row;
    align-items: last baseline;
    justify-content: space-evenly;
    gap: 15px;

    > div {
        max-width: 40%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        text-align: center;

        > button, > a > button {
            padding: 10px 15px;
            border-radius: 8px;
        }
    }
}

#edit-recipe-button {
    background-color: var(--dark);
    border-color: var(--lighter);
    color: var(--lighter);
}

#delete-recipe-button {
    background-color: red;
    color: white;
}
