* {
    box-sizing: border-box;
    margin: 0;
}

#root {
    --dark: #206A5D;
    --lighter: #BFDCAE;
    --lightest: #F1F1E8;
    --highlight: #81B214;
        
    min-width: 100%;
    min-height: 100vh;

    overflow: clip;
        
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;

    background-color: var(--lightest);
}

main {
    width: 100vw;
    margin-bottom: 150px;

    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;

    color: var(--dark);
}
